<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">出茂市Webサイト</h3>
				<ul class="mb3">
						<li><a href="/" class="link">トップページ</a></li>
						<li><a href="/post" class="link">くらしの情報</a></li>
						<li><a href="/post1" class="link">子育て・教育</a></li>
						<li><a href="/post2" class="link">健康・福祉</a></li>
						<li><a href="/post3" class="link">市政情報</a></li>
						<li><a href="/post4" class="link">市政情報</a></li>
						<li><a href="/post5" class="link">市政情報</a></li>
						<li><a href="/post6" class="link">市政情報</a></li>
						<li><a href="/post7" class="link">市政情報</a></li>
						<li><a href="/post8" class="link">市政情報</a></li>
						<li><a href="/post9" class="link">市政情報</a></li>
						<li><a href="/post10" class="link">市政情報</a></li>
						<li><a href="/post11" class="link">市政情報</a></li>
						<li><a href="/contact" class="link">連絡先</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

{{ partial "svg" . }}
