<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">出茂市 公式Webサイト</h3>
				<ul class="mb3">
					<li><a href="/" class="link">トップページ</a></li>
					<table>
						<tr>
							<td class="mb4">
								<ul class="mb3">
									<li><a href="/post" class="link">緊急情報</a></li>
									<li><a href="/post1" class="link">イベント</a></li>
									<li><a href="/post2" class="link">暮らし</a></li>
								</ul>
							</td>
							<td class="mb4">
								<ul class="mb3">
									<li><a href="/post3" class="link">こども</a></li>
									<li><a href="/post4" class="link">健康</a></li>
									<li><a href="/post5" class="link">住まい</a></li>
								</ul>
							</td>
							<td class="mb4">
								<ul class="mb3">
									<li><a href="/post6" class="link">福祉</a></li>
									<li><a href="/post7" class="link">仕事</a></li>
									<li><a href="/post8" class="link">行政</a></li>
								</ul>
							</td>
							<td class="mb4">
								<ul class="mb3">
									<li><a href="/post9" class="link">施設</a></li>
									<li><a href="/post10" class="link">広報</a></li>
									<li><a href="/post11" class="link">その他</a></li>
								</ul>
							</td>
						</tr>
					</table>
					<li><a href="/contact" class="link">連絡先</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

{{ partial "svg" . }}