<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">出茂市Webサイト</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/post1" class="link">Blog</a></li>
					<li><a href="/post2" class="link">Blog</a></li>
					<li><a href="/post3" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

{{ partial "svg" . }}
