<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" alt="Demo-City logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<table class="flex b grey-3">
		<tr>
			<td><a href="/post" class="pa3 no-underline db">くらし</a></td>
			<td><a href="/post1" class="pa3 no-underline db">子育て</a></td>
			<td><a href="/post2" class="pa3 no-underline db">福祉</a></td>
			<td><a href="/post3" class="pa3 no-underline db">市政</a></td>
			<td><a href="/contact" class="pa3 no-underline db">連絡</a></td>
		</tr>
	</table>

</nav>
