<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" alt="Demo-City logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<table class="flex b grey-3">
		<tr>
			<td><a href="/post" class="pa3 no-underline db">暮らし</a></td>
			<td><a href="/post1" class="pa3 no-underline db">子育</a></td>
			<td><a href="/post2" class="pa3 no-underline db">福祉</a></td>
			<td><a href="/post3" class="pa3 no-underline db">市政</a></td>
			<td><a href="/post4" class="pa3 no-underline db">観光</a></td>
			<td><a href="/post5" class="pa3 no-underline db">介護</a></td>
		</tr>
		<tr>
			<td><a href="/post6" class="pa3 no-underline db">水道</a></td>
			<td><a href="/post7" class="pa3 no-underline db">税金</a></td>
			<td><a href="/post8" class="pa3 no-underline db">環境</a></td>
			<td><a href="/post9" class="pa3 no-underline db">健康</a></td>
			<td><a href="/post10" class="pa3 no-underline db">緊急</a></td>
			<td><a href="/post11" class="pa3 no-underline db">その他</a></td>
		</tr>
	</table>

</nav>
