{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
    <div class="ph1-ns w-50-ns flex">
        {{ partial "blog" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">
        {{ partial "blog1" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog2" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog3" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog4" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog5" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog6" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog7" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog8" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog9" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog10" . }}
    </div>
    <div class="ph1-ns w-50-ns flex">

        {{ partial "blog11" . }}

    </div>
</div>
{{ end }}