{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

<table>
    <tr>
        <td>
            {{ partial "blog" . }}
        </td>
        <td>
            {{ partial "blog1" . }}
        </td>
        <td>
            {{ partial "blog2" . }}
        </td>
        <td>
            {{ partial "blog3" . }}
        </td>
    </tr>
    <tr>
        <td>
            {{ partial "blog4" . }}
        </td>
        <td>
            {{ partial "blog5" . }}
        </td>
        <td>
            {{ partial "blog6" . }}
        </td>
        <td>
            {{ partial "blog7" . }}
        </td>
    </tr>


    <tr>
        <td>
            {{ partial "blog8" . }}
        </td>
        <td>
            {{ partial "blog9" . }}
        </td>
        <td>
            {{ partial "blog10" . }}
        </td>
        <td>
            {{ partial "blog11" . }}
        </td>
    </tr>

</table>

{{ end }}